---
layout: page
---

<div class="text-container">
	{% assign news = site.pages | where: "path", "news/index.html" | first %}

	{% if news.title %}
		<h2>{{ news.title }}</h2>
	{% endif %}

	{% if news.description %}
		<p class="subtext">{{ news.description }}</p>
	{% endif %}

	<div class="center-text">
		<span class="blog-filter cross"><a href="{{ site.baseurl }}/news/">{{ page.title | capitalize }}</a></span>
	</div>

	<ul class="blog-posts">
		{% include list-posts.html posts=page.posts %}
	</ul>
</div>
